#tabbar {
    background: #1e1e1e;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333;
    height: 40px;
}

.tab {
    padding: 8px 14px;
    margin-right: 5px;
    cursor: pointer;
    color: #ccc;
    font-weight: 500;
    border-radius: 5px 5px 0 0;
    transition: 0.15s;
}

.tab:hover {
    background: #333;
    color: #fff;
}

.tab.active {
    background: #252526;
    color: #fff;
    border-bottom: 2px solid #007acc;
}
body {
    background: #1e1e1e;
    color: #ddd;
}

textarea {
    background: #1e1e1e;
    color: #fff;
    border: none;
    border-right: 1px solid #333;
    outline: none;
    padding: 10px;
}

#editorPane {
    background: #1e1e1e;
}

#preview {
    background: white;
}
