body {
    font-family: sans-serif;
    padding: 20px;
}

#editor {
    width: 100%;
    height: 200px;
    margin-top: 10px;
}

#output {
    background: #222;
    color: #0f0;
    padding: 10px;
    margin-top: 10px;
}
